---
import "../styles/style.css";
import ThemeIcon from "./ThemeIcon.astro";
// import NavigationButton from "./NavigationButton";
---

<div class="nav-links">
  <!-- <NavigationButton name="Home" path="/" client:load /> -->
  <!-- <NavigationButton name="About" path="/about" client:load /> -->

  <a href="/blog/">博客</a>

  <ThemeIcon />
</div>
