---
import "../styles/style.css";
import ThemeIcon from "./ThemeIcon.astro";
import Navigation from "./Navigation";
---

<div class="nav-links">
  <!-- <NavigationButton name="Home" path="/" client:load /> -->
  <!-- <NavigationButton name="About" path="/about" client:load /> -->
  <Navigation />
  <ThemeIcon />
</div>
